<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "project/title", project: @project %>
  <div class="px-4 sm:px-6">
    <!-- Main 2 column grid -->
    <div class="grid items-start grid-cols-1 lg:grid-cols-3">
      <!-- Left column -->
      <div class="grid grid-cols-1 col-span-2 gap-2">
        <div class="ml-4">
          <dl class="divide-y divide-gray-200">
            <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
              <dt class="text-sm font-medium text-gray-500">About</dt>
              <div class="col-span-2">
                <%= turbo_frame_tag dom_id(@project) do %>
                  <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <span class="flex-grow whitespace-pre-wrap text-justify"><%= @project.about.to_s.upcase_first %></span>
                    <span class="ml-4 flex-shrink-0">
                      <% if policy([@project, :about]).edit? %>
                        <%= edit_button(project_edit_path(@project)) %>
                      <% end %>
                    </span>
                  </dd>
                <% end %>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>
