<% templates.each do |assigns| %>
  <%  templates.map(&:template).flatten.each do |template| %>
    <li class="flex px-2 py-2" id="<%= dom_id(assigns) %>">
      <div class="w-full ml-3">
        <%= link_to template.decorate.display_title, new_employee_report_path(resource, template_id: template.id),  class: "hover:underline text-sm font-medium text-gray-500" %>
      </div>
      <%= delete_button(templates_assignee_path(assigns.id)) %>
    <% end %>
  </li>
<% end %>
