<div id="project-tabs">
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <select id="tabs" name="tabs" class="block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <option>Team</option>
      <option>Notes</option>
      <option>Feedback</option>
      <option>Schedule</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="flex -mb-px space-x-8 lg:px-6" aria-label="Tabs">
        <a href="<%= survey_questions_path %>" class="<%= current_page?(survey_questions_path) ? "selected-tab" : "unselected-tab"%>">
          Questions
        </a>
        <a href="<%= survey_attempts_path %>" class="<%= current_page?(survey_attempts_path) ? "selected-tab" : "unselected-tab"%>">
          Attempts
        </a>
      </nav>
    </div>
  </div>
