<%= turbo_frame_tag dom_id(role) do %>
  <li class="flex py-4 border-b border-gray-200">
    <div class="flex w-full ml-3">
      <p class="w-full text-sm font-medium text-gray-900"><%= role.name.titleize %></p>
      <div class="flex">
        <div class="flex justify-end space-x-2">
          <%= edit_button(edit_account_role_path(role)) %>
          <%= delete_button(account_role_path(role)) %>
        </div>
      </div>
    </div>
  </li>
<% end %>
