<%= turbo_frame_tag dom_id(people_status) do %>
  <li class="py-4 flex border-b border-gray-200">
    <div class="ml-3 flex w-full">
      <p class="w-full text-sm font-medium text-gray-900"><%= people_status.name.titleize %></p>
      <div class="flex">
        <%= link_to "Edit", edit_people_status_path(people_status), class: "text-sm text-gray-400 hover:text-indigo-600" %>
        <%= link_to "Delete", people_status_path(people_status), method: :delete, class: "text-sm pl-2 text-gray-400 hover:text-red-600" %>
      </div>
    </div>
  </li>
<% end %>
