<% presenter = ProjectPresenter.new(@project) %>
<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "project/title", project: @project%>
  <main class="pb-8">
    <div class="">
    
      <h1 class="sr-only">Page title</h1>
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white">
              <div class="w-full overflow-hidden" data-controller="infinite-scroll">
              <% if @todos.empty? %>
                <div class="flex items-center content-center justify-center my-8 text-base italic text-gray-900">
                     No result found.
                </div>
            <% else %>
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Done
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Assigned
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Title
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Due Date
                      </th>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200" id="todos" data-infinite-scroll-target="entries">
                    <%= render partial: "project/todos/todo", collection: @todos, as: :todo, cached: true %>
                  </tbody>
                </table>
                <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals:{pagy: @pagy}%>
                </div>
                <% end %>
              </div>
            </div>
          </section>
        </div>
        <% if presenter.show_add_feedback_form %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <h2 class="sr-only" id="section-2-title">Add New Todo</h2>
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "project/todos/form", locals: { todo: @todo, errors: nil }%>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
