<div class="col-4">
  <p class="text-sm text-gray-500 mt-6">
    You have an active subscription to our monthly plan for $49/month.
  </p>
  <%= button_to "Manage Subscription or Download Invoices", billing_portal_path, data: { turbo: false }, class: "btn-blue mt-2 ml-0" %>
</div>
