<%= turbo_frame_tag dom_id(@discipline) do %>
  <%= form_with(model: @discipline, id: dom_id(@discipline), url: account_discipline_path(@discipline)) do |form| %>
    <li class="flex py-4 border-b border-gray-200">
      <div class="flex w-full">
        <%= form.text_field :name, class: "form-text-field"%>
        <div class="flex">
          <%= form.submit "Save", class:"btn-blue ml-3"%>
        </div>
        <div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
