<div class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <!-- Page title & actions -->
  <div class="px-4 py-4 border-b border-gray-200 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Activities
      </h1>
    </div>
  </div>
</div>
<div class="flex w-full overflow-hidden bg-white">
  <div class="flex w-full">
    <%= render partial: "form" %>
    <% if @events.size > 0 %>
      <div id="events" class="w-full overflow-hidden py-6 px-8">
        <ul data-infinite-scroll-target="entries" class="list-none">
          <% @events.each do |event| %>
            <% if lookup_context.template_exists?(event.action, "home", true) %>
              <% cache event do %>
                <%= render partial: "home/#{event.action}", locals: { event: event } %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <p class="pr-4 mt-2 text-sm text-right text-gray-500">Showing <%= 500.to_s %> recently created events only.</p>
      </div>
    <% else %>
      <%= render partial: "shared/no_result_found", cached: true %>
    <% end %>
  </div>
</div>
