<%= turbo_frame_tag dom_id(skill) do %>
  <li class="flex py-4 border-b border-gray-200">
    <div class="flex w-full ml-3">
      <p class="w-full text-sm font-medium text-gray-900"><%= skill.name.titleize %></p>
      <div class="flex justify-end space-x-2">
        <%= edit_button(edit_account_skill_path(skill)) %>
        <%= delete_button(account_skill_path(skill)) %>
      </div>
    </div>
  </li>
<% end %>
