<span class="relative inline-block" role="img" title="<%= employee.billable? ? "Billable" : "Non Billable" %>">
  <%= display_medium_avatar(employee) %>
  <% if employee.billable? %>
    <span class="absolute bottom-0 right-0 block h-2 w-2 rounded-full bg-green-400 ring-2 ring-white"></span>
  <% else %>
    <span class="absolute bottom-0 right-0 block h-2 w-2 rounded-full bg-red-400 ring-2 ring-white"></span>
  <% end %>
</span>
