  <%= tailwind_form_with(model: account, id: dom_id(account)) do |form| %>
  <div class="space-y-6">
    <%= render "shared/form_messages", resource: account, message: local_assigns[:message] %>
    <%= form.text_field :name, "Company Homes" %>
    <div class="flex justify-end">
      <%= form.submit "Save", class:"btn-blue"%>
    </div>
  </div>
<% end %>
