<tr id="<%= dom_id kpi %>">
  <td class="px-16 py-3  text-sm text-gray-700 max-w-0">
    <div class="text-sm">
      <a href="<%=kpi_path(kpi)%>" target="_blank"  class="font-medium text-gray-900 block hover:underline" target="_top">
        <%= kpi.name %>
      </a>
    </div>
    <div class="mt-1 text-sm text-gray-700">
      <p class="line-clamp-3"><%= kb.description %></p>
    </div>
  </td>
</tr>
