<div id="employee-tabs">
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="flex -mb-px space-x-8 lg:px-8" aria-label="Tabs">
        <a href="<%= tickets_path %>" class="<%= current_page?(tickets_path) ? "selected-tab" : "unselected-tab" %>">
          Open Tickets
        </a>
        <a href="<%= tickets_path %>" class="<%= current_page?(tickets_path) ? "selected-tab" : "unselected-tab" %>">
          Tickets
        </a>
      </nav>
    </div>
  </div>
</div>
