<tr>
  <td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm font-medium text-gray-900">
    <div class="flex items-center space-x-3 lg:pl-2">
      <div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-pink-600" aria-hidden="true"></div>
      <a href="<%= project_participants_path(project) %>" class="truncate hover:text-gray-600">
        <span>
          <%= project.name %>
          <span class="text-gray-500 font-normal"><%= project.display_discipline %></span>
        </span>
      </a>
    </div>
  </td>
  <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-right">
    <%= project.display_created_at %>
  </td>
</tr>
