<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <!-- Page title & actions -->
  <div class="px-4 py-4 border-b border-gray-200 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Projects
      </h1>
      <p class="mt-1 ml-1 text-sm text-gray-500 truncate"><%= "(" + @projects.count.to_s + " projects)"%></p>
    </div>
    <div class="flex mt-4 sm:mt-0 sm:ml-4">
      <%= link_to 'New Project', new_project_path, class:"btn-blue" %>
    </div>
  </div>
  <!-- Projects table (small breakpoint and up) -->
  <% if @projects.count > 0 %>
    <div class="hidden sm:block">
      <div class="inline-block min-w-full align-middle border-b border-gray-200">
        <table class="min-w-full">
          <thead>
            <tr class="border-gray-200">
              <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                <span class="lg:pl-2">Project</span>
              </th>
              <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                Participants
              </th>

              <th class="py-3 pr-6 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                Project Lead
              </th>
              <th class="py-3 pr-6 text-xs font-medium tracking-wider text-right text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                Created At
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-100">
            <%= render partial: "project", collection: @projects%>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</main>
<%== render partial: 'shared/bootstrap_nav', locals: {pagy: @pagy} %>