<% presenter = UserPresenter.new(@employee) %>
<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee%>
  <main class="pb-8">
    <div class="px-4 sm:px-6">
      <h1 class="sr-only">Page title</h1>
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">Employee Project</h2>
            <div class="overflow-hidden bg-white">
              <div class="p-4", id="employee-participants">
                <div class="flex flex-wrap">
                  <p class="pb-2 mt-1 text-sm font-medium text-gray-900 truncate"><%="Employee Project(" + @employee.projects.count.to_s + ")"%></p>
                </div>
                <ul class="divide-y divide-gray-200">
                  <%= render partial: "employee/schedule/schedule", cached: true%>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <% if presenter.show_add_feedback_form %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <h2 class="sr-only" id="section-2-title">Add New Participant Project</h2>
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render "employee/schedule/form", schedule: @schedule, errors: nil%>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
