<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "project/title", project: @project%>
  <main class="pb-8">
    <div class="px-4 sm:px-6" id="skills">
      <%= render partial: "form", locals: {skills: @skills, project: @project, skill: @skill}, cached: true %>
    </div>
  </div>
</main>
</main>
