<p>Dear <%= @manager.decorate.display_name %>!</p>
<p> Your team has been updated. Please click link below to see more details:</p>
<p><%= link_to "Show Team", employee_team_url(@employee, script_name: "/#{@employee.account.id}") %></p>
