<main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/settings_menu" %>
    <main class="max-w-xl pb-12 px-4 lg:col-span-6">
      <div class="mt-6 flex-grow lg:mt-0 lg:ml-6 lg:flex-shrink-0 lg:flex-grow-0">
        <%= turbo_frame_tag "profile_form" do %>
          <%= render "user/forms/profile", user: @user %>
        <% end %>
      </div>
    </main>
    <div class="flex " >
      <%= render "user/forms/avatar", user: @user %>
    </div>
  </div>
</div>
</main>
