<%= turbo_frame_tag dom_id(role) do %>
  <li class="py-4 flex border-b border-gray-200">
    <div class="ml-3 flex">
      <p class="text-sm font-medium text-gray-900"><%= role.name %></p>
      <div class="flex">
        <%= link_to "Edit", role_path(role), method: :patch, class: "text-indigo-600 hover:text-indigo-900" %>
        <%= link_to "Delete", role_path(role), method: :delete, class: "pl-2text-indigo-600 hover:text-indigo-900" %>
        <div>
        </div>
      </li>
    <% end %>
