<tr id="<%= dom_id todo %>">
  <td class="px-6 py-4 overflow-hidden text-sm text-gray-500 truncate whitespace-nowrap max-w-0">
    <%#= timesheet.description%>
  </td>
  <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">
    <p><%= todo.title%></p>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= display_created_at(todo) %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%#= timesheet.hours%>
  </td>
  <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
    <%= link_to "Delete", employee_todo_path(@employee, todo), method: :delete, class: "btn-inline-delete pl-2" %>
  </td>
</tr>
