<li class="flex px-2 py-2" id="<%= dom_id(survey) %>">
  <div class="w-full ml-3">
    <%= confirm_button(new_survey_attempt_path(survey, participant_id: @project.id), survey.name.upcase_first, "Are you sure you want to take this survey?", "hover:underline text-sm font-medium text-gray-500") %>
  </div>
</li>
