<div class="relative flex items-start w-full pt-2" id="<%= dom_id(question)%>">
  <div class="ml-3 text-sm w-full">
    <label for="comments" class="font-medium text-gray-700 overflow-y-auto"><%= question.text %></label>
    <p id="comments-description" class="text-gray-500 overflow-y-auto"><%= question.description %></p>
  </div>
  <div class="flex justify-self-end ">
    <% question.options.each do |option| %>
      <%= render partial: 'option', locals: { option: option, question: question, attempt: attempt } %>
    <% end %>
  </div>
</div>
