<main class="relative z-0 flex-1 focus:outline-none">
  <%= render "survey/title", survey: @survey %>
  <main class="pb-8">
    <div class="" id="assignees">
      <div class="grid items-start grid-cols-1 lg:grid-cols-3 ">
        <!-- Left column -->
        <div class="grid grid-cols-1 lg:col-span-2" >
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white">
            <div class="overflow-hidden bg-white" data-controller="infinite-scroll">
              <div>
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Participant
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Taken By
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        On Date
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Score
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Status
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200" id="filled_surveys" data-infinite-scroll-target="entries">
                    <%= render partial: "attempt", collection: @attempts, as: :attempt, cached: true %>
                  </tbody>
                </table>
                <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                </div>
              </div>
            </div>
          </section>
    </div>
  <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
          <section aria-labelledby="add-participant-section">
            <div class="bg-white">
              <div class="px-4">
                <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16 z-10">
                
       
            </main>
            </div>
            </div>
            </section>
    </div>

</main>
</main>
