<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render partial: "survey/title", locals: {survey: @survey}%>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
        <!-- Left column -->
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white">
              <div class="w-full overflow-hidden" data-controller="infinite-scroll">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                      <tr>
                  <th scope="col" class="px-14 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Survey
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Participant
                  </th>
                </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200" id="documents" data-infinite-scroll-target="entries">
                     <%= render partial: "attempt", collection: @attempts, as: :attempt, cached: true %>
                  </tbody>
                </table>
                <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
                </div>
              </div>
            </div>
          </section>
      </div>
    </main>
  </main>
