<% actor = @attempt.actor.decorate %>
<% survey = @attempt.survey %>
<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render "employee/title", employee: @employee%>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white" data-controller="infinite-scroll">
              <div>
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="w-full px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                        Survey
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Taken By
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        On Date
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Score
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Status
                      </th>
                      <th scope="col" class="px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200" id="filled_surveys" data-infinite-scroll-target="entries">
                    <%= render partial: "filled_survey", collection: @filled_surveys, as: :attempt, cached: true %>
                  </tbody>
                </table>
                <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                  <%== render partial: "shared/paginator", locals:{pagy: @pagy}%>
                </div>
              </div>
            </div>
          </section>
    </div>
  </main>
</main>
