<li>
  <a href="#" class="block hover:bg-gray-50">
    <div class="flex items-center px-2 py-2 sm:px-6">
      <div class="min-w-0 flex-1 flex items-center">
        <div class="flex-shrink-0">
          <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixqx=T6AY8bD1bU&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <p class="text-sm font-medium text-gray-900 truncate"><%= participant.display_name%></p>
            <p class="mt-1 flex items-center text-sm text-gray-500">
              <span class="truncate"><%= participant.email%></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</li>
