<!-- This example requires Tailwind CSS v2.0+ -->
<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
  <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        <%= @project.name %>
      </h1>
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
      <%= link_to 'Edit', edit_project_path(@project), class:"inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
  <%= render 'projects/tabs'%>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pl-16 pt-4 pr-16">
  <ul class="divide-y divide-gray-200">
    <li class="py-4 flex">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="ml-3">
        <p class="text-sm font-medium text-gray-900">Calvin Hawkins</p>
        <p class="text-sm text-gray-500">calvin.hawkins@example.com</p>
      </div>
    </li>
    <li class="py-4 flex">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="ml-3">
        <p class="text-sm font-medium text-gray-900">Kristen Ramos</p>
        <p class="text-sm text-gray-500">kristen.ramos@example.com</p>
      </div>
    </li>
    <li class="py-4 flex">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
      <div class="ml-3">
        <p class="text-sm font-medium text-gray-900">Ted Fox</p>
        <p class="text-sm text-gray-500">ted.fox@example.com</p>
      </div>
    </li>
  </ul>
</div>
</main>
